* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  --bg-color-primary: #fff;
  --bg-color-secondary: rgb(122, 203, 206, 11%);
}

body {
  background-color: var(--bg-color-primary);
  padding: 1rem;
  font-family: "Poppins", sans-serif;
}
.containter {
  width: 80%;
  min-height: 80vh;
  margin: 3rem auto;
  padding: 2rem;
  background-color: var(--bg-color-secondary);
}

/* SEARCH SECTION=================================================================== */
.section {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__search--input {
  height: 2rem;
  padding-left: 0.5rem;
  border: none;
  border: 0.5px solid #7acbce;
  border-radius: 5px;
  color: #d8d8d8;
}
.section__search--input:focus {
  outline: none;
}

.section__select {
  transform: translateX(-19rem);
}
.section__select--label {
  font-weight: 600;
}
.section__select--choose {
  height: 2rem;
  width: 10rem;
  border: none;
  border: 0.1px solid #7acbce;
  border-radius: 5px;
  padding-left: 0.5rem;
  color: #d8d8d8;
}

.section__select--choose:focus {
  outline: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("./assets/icons8-expand-arrow-24.png");
  background-repeat: no-repeat;
  background-position: right;
}

.section__button button {
  width: 5rem;
  height: 2rem;
  border: none;
  background-color: rgba(122, 203, 206, 59%);
  border-radius: 5px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
}

/* section oder (table layout) ======================*/
table {
  width: 100%;
  /* border-spacing: 0; */
  border-collapse: collapse;
  margin-top: 1rem;
}
.section__headings {
  background-color: rgba(122, 203, 206, 59%);
  height: 3rem;
}

th {
  text-align: start;
  font-weight: 400;
}
.id_box {
  margin-right: 10rem;
  padding-left: 1rem;
}

.section__orders .order__id {
  display: inline;
  margin-left: 2rem;
}

.section__order--details {
  background-color: rgba(217, 217, 217, 50%);
  border: 1px solid rgba(216, 216, 216, 100%);
  height: 3rem;
}

/*  Page count ===================== */

.page_count {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.page_count + p {
  padding-left: 0;
  margin-left: 0;
}
.go-to_circles {
  display: flex;
  margin-right: 0;
}

.go-to_circles div {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(122, 203, 206, 75%);
  cursor: pointer;
}
.go-to_circles div:not(:last-child) {
  margin-right: 0.5rem;
}

/* payment status colors =================================================== */

.paid {
  color: #0eaa7b;
  /* background-color: #7acbce; */
  border-radius: 5px;
  padding: 0 0.5rem;
}
.failed {
  color: #f1556c;
  /* background-color: #fce0e4; */
  border-radius: 5px;
  padding: 0 0.5rem;
}
.awaiting_authorization {
  color: #f8b84d;
  /* background-color: #fcebd0; */
  border-radius: 5px;
  padding: 0 0.5rem;
}

/* Order status colors =======================================================*/
.delivered {
  /* background-color: #0eaa7b; */
  color: #0eaa7b;
  border-radius: 5px;
  padding: 0 0.5rem;
}
.processing {
  /* background-color: #f8b84d; */
  color: #f8b84d;
  border-radius: 5px;
  padding: 0 0.5rem;
}

.shipped {
  /* background-color: #37cde6; */
  color: #37cde6;
  border-radius: 5px;
  padding: 0 0.5rem;
}

.cancelled {
  /* background-color: #f1556c; */
  color: #f1556c;
  border-radius: 5px;
  padding: 0 0.5rem;
}
